// Variables


// COLORS

$white: #ffffff;
$black: #000000;
$red: #c65353;
$grey: #f5f5f5;
$link-grey: #88898a;
$white09: rgba(255, 255, 255, 0.9);


// TYPOGRAPHY
$light: 100;
$reg: 400;
$bold: 700;

$work: 'Work Sans', sans-serif;
$roboto: 'Roboto', sans-serif;

$l-gap: 15px;
