// Footer
.page-template-template-about,
.page-template-template-contact {
    padding-bottom: 90px;
    .footer { 
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
    }
}
.footer {
    position: relative;
    width: 100%;
    font-family: $Raleway;
	// .copy {
	// 	display: flex;
	// 	justify-content: space-between;
	// }
}

#backTop {
    // visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    .chevron {
        position: fixed;
        bottom: 0;
        right: 0;
        padding: $spacer-sm;
        font-size: 60px;
        text-shadow: 3px 1px 18px rgba(164,164,164,0.93);
        @include breakpoint(xl) {
            padding: $spacer-xl;
        }
    }
}

.modal {
	display: none;
	position: fixed;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // max-width: 540px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: $white-menu;
    .close-modal {
    	position: absolute;
    	top: $spacer-sm;
    	right: $spacer-sm;
    	font-size: 50px;
    	background: transparent;
    	border: none;
    	color: $grey;
    	line-height: 20px;
    	&:hover {
    		color: $black;
    	}
    }
    .modal__content {
    	max-width: 90%;
    	margin: 0 auto;
    	padding: $spacer-sm;
    }

}